# Income Property Finder

## Best rental markets for investments less than $500,000

We look at the 1000 most populous zipcodes in the US and find the relation between rents and purchase prices of single family homes. 
We then examine what characteristics are desirable in an income property and observe what other traits these properties share.

The most notable observation is that areas on the edges of major metropolitan areas are among the best income properties in terms of return on investment. 

[Original Design](https://public.tableau.com/profile/roy.wang#!/vizhome/Rental_property_markets/IncomePropertyFinder)

[Version 2](https://public.tableau.com/profile/roy.wang#!/vizhome/Income_Properties_rev2/IncomeProperties?publish=yes)

[Version 3](https://public.tableau.com/profile/roy.wang#!/vizhome/Income_Properties_rev3/IncomeProperties)

## Design

Time series data on rents and home prices are best represented as line charts. Separated by zipcode, we filter to leave a cross section of values and rents. To get an immediate sense of where we're going, we present a bar chart showing the range of price/rent ratio across the filtered set. This set may be altered by the filter dropdown. 

We then do a direct rent-value scatter plot, coloured by year to show some of the yearly variation. We then zoom in on the core area most investors would be interested in, and show the simple linear relation in this region with a well-fitting trend line. While the nominal ROI would be equal for any data point on the member of the slope family, higher cost entails higher borrowing costs, higher taxes, lower inventory & turnover, and generally higher risk, so all things being equal, the lower cost properties are better investments. 

We then show a map with the median color scaled down to more easily show good value areas. We show 4 major metropilitan areas with many high-value zipcodes. 

But we not only need good properties, we need good renters. We gather some income data to plot against our price/rent ratio. There is a natural grouping to use as a filter to select good investment areas. We also provide a bar chart to compare the rent/value ratio with the average value, as absolute price is important to keep in mind when considering a market. 

Finally, these new considerations give us some modifications for best markets to look for income properties. 

(improvements after feedback)

## Feedback

louischoki 8:28 PM, April 4th 
I love the maps of your Tableau story but I feel in the first dashboard the line charts is a little confusing, there are too many colors 

mobilewang 10:40 PM, April 4th
- I think of it the other way: rent/price (in my case, annual rent/sell price) ie I want a high rent/price
 - Try not to use "value" as a graph label - state price, income etc.
 - average income is an interesting added dimension - education level, crime etc might also be interesting but you picked a good one

First Tab
 - I think I get your main message but it's hard to interpret the graphs - make sure you add chart titles everywhere ie. Home (or Rental Unit?) Price for select zip codes over time.  What is the data?  Price for 2 bedroom apts?  Or average home price - you should always define the data.  Monthly rent etc.

Second Tab
 - Nice - again chart title - did you cut off to show only the best neighbourhoods?
 - from a visualization point, it's easy to see the low price/rent ones which is great

Third Tab
 - BCG would definitely make 4 quadrants out of the top graph?  You've highlighted some in blue - say something in a legend or add a note so viewer knows why you did so
 - is the bar graph below just the blue ones?

Last tab - just explain what you are showing and how you selected the specific markets

## Version 2

1. Reduced number of lines to make it more readable. Put long view on price, but then also lined up price/rent data for smaller subset of rent. Put bar chart to show variation of rent/price to justify existence and search for optimal markets. 

2. Showed full rent to price scatter plot, colored by year to show yearly variation. I would have preferred to color by zipcode, but there were too many datapoints for this. A blown up view of the linear, low-cost portion of the graph is most useful, showing above trend line and outliers as desirable properties. However, plotting and ordering them on a bar chart gives more definite selection. For example, one apparent outlier isn't really ideal because of how expensive the base cost is. 

3. Quadrant maps of major markets give immediate visual on nature of ideal zipcodes as well as sense of no ideal zipcodes in California. Shift in color scale to only highlight great ratios helps a lot. 

4. There were some errors in the original income plots, so corrected, the high income ratios don't come from a neat box as before, but really along a diagonal trend line. Because of small number, there was no need to quantify it with a precise boundary line. Dots on a zoomed out map presents very clear picture of ideal market distribution. 

4. Zoomed back into 4 best markets, we overlay high ratio with large yellow dots representing high income ratios. This is useful to maintain an overall perspective on local and adjacent markets via the color scale. I maintained rent & price on mouse-over to always keep basic data available. 

## Feedback 2

Randy J. 5:21 PM, April 7th

I like what you did with the charts, looks like you did some pretty nice tricks with the tool.  But I dont understand the story.  From the first slide caption I got that home prices don't align with the cost to rent, but I got lost after that.  What are you trying to tell me, what's the message I'm to be left with?  Also, on the maps I could zoom but couldn't pan, so I could not bring the area I wanted to see in detail into view.

#### Udacity review

This is a very interesting dataset you've decided to tackle, and I enjoyed combing through your presentation and learning more about the indicator you've decided to focus on. As I understand your presentation, that indicator is the ratio between mean monthly rent and mean house price by zip code. Further, you present this ratio as a good indicator of potential investment value. This certainly gives your presentation the focus it needs to be effective, have impact, and meet the requirements for this project. There are, however, some issues with how you've gone about presenting (and even calculating) your findings.

I don't have much experience with this type of data and the key indicators related to it, but this particular ratio as I understand should actually be reversed. The commonly cited ratio I found is mean house price to annualized rental price. So instead of being a decimal, the ratio should give you a floating point value greater than 1. You might ask, "Why does this matter when the ratio as you've calculated it can still used to compare the relationship between rental and purchase prices?" The answer I would offer is that, although it might be investment jargon, the price-to-rent ratio is a well-known investment measure, and you can leverage this in communicating to your intended audience.

You present the ratio (as you've calculated it) as a good indicator of investment opportunities with a high potential return, but don't really go into how or why that's true. Again, I'm not particularly investment savvy, but what I understand about the price-to-rent ratio is that it's an indicator of whether it's better to rent or buy. If you have a different (or deeper and better) understanding then you need to do more to guide the reader to the conclusions you present. As it stands now your presentation is a bit difficult to interpret. See the comments under the next requirement for more details.


You're presentation is very granular. This is a feature that I really appreciate as someone who prefers to understand a topic in as much detail as possible. At the same time, it is not very user-friendly and proved difficult to wade through in search of some meaningful takeaway. There's still some substantial and even foundational work to be done here in terms of putting together a presentation design that communicates clearly to the reader. Here are some issues that I encountered:

    The captions could be used more effectively by guiding the reader on how to use the dashboards they describe and introducing the price-to-rent ratio as though to someone completely unfamiliar with the topic. Some of what you have in the captions right now are difficult to understand. Take for example the first caption: "Single-family house prices show similar trends, but don't always align with rents, which fluctuate as more as a percentage." It's not clear what single-family house prices are similar to or what rents are a percentage of. There are several other similar examples in the other captions that need revision. Don't assume that your audience (for this project it's a bit ambiguous who that is) knows everything that you do or is familiar with the dataset and the housing market.

    On the final slide, the exact meaning of in/out is not clear. You've encoded this as large and small circles on the map, but it's not clear how to interpret this variable. I think "in" means that the price-to-rent ratio is favorable for investing, but it needs to be made more clear. Again, on this slide, you haven't taken full advantage of the caption space where you could explain both the meaning of this variable and direct the reader on how to best to interpret the maps.

    You've broken the data down into price-to-rent by zip code, which is quite a fine-grain look at the focus indicator. This is fine but it seems like zip codes (unless it's the one your live in) can be difficult for humans to place in a meaningful geographic context. One way to improve on this might be to add the city and state on the hover tool on your map plots if the state is included as a feature in the dataset.

    The map on the third slide deserves a title. The captions aren't entirely clear what is being portrayed in the map, and a title has the added benefit of immediately cluing the reader in to what the map is all about.

    This is a huge amount of data (mostly the high volume of zip codes), which can become unmanageable when building a presentation but also difficult for the reader to make sense of. I think part of the problem, again, is the cursory captions that you'll need to expand on. At the same time, you might consider looking for a way to focus on some subset of the data or generalize on the data as a whole. You've done this with the line plot of the first slide by selecting example zip codes as representative of different trends. This is just a suggestion and not a requirement, though. One idea that occurs to me would be to group zip codes by their first one or two digits (as a proxy for region) and look for trends after grouping them.

    The addition of the median income variable added some complexity to your analysis and worked very well particularly because the variable influences house buying so much. Nice work there!

## Version 3

1. I put much more explanatory text for both the idea and what the charts represent. I still believe that rental yield is the best indicator, but changing it to a percentage makes it a little more intuitive both for investors and the layperson. Putting the definition right on the chart also makes it easier to find.

2. Very few changes here. Just added the ability to filter from the bar chart.

3. Added title, made sure solor scale showed yield as a percentage.

4. It is income to rent, not income to rent/price that is the better indicator of a renter's capacity to pay. Also, adding some conditional statements on the calculated fields was necessary the sets are indicative of 2018 conditions. Also added filtering via the map. 

5. Added a new chart filtering best rental yield markets by high income-rent ratios. This is made for easy consumption and the best summary slide.

6. Put the mixed map of 4 regions back, overlaying dots for good income-rent, and color scale for rental yield. This map is required to get a more nuanced, complete view of a local market as well as to find threshold markets where yield is high but may have just missed the income-rent cutoff in the previous slide. 


### Resources

- The Quandl API to access housing data. I would have preferred house-specific, but scraping that violates TOS for free sources. 
- IRS (which provided terrible income data)
- Census.gov provided much better income data
- credemographics.com for zipcode population data

### Below is some of the code I used to collect and clean the data.

In [1]:
import pandas as pd
import numpy as np
import quandl
import requests
from bs4 import BeautifulSoup
import time
import urllib

In [2]:
# We pull the data using the Quandl API
quandl.ApiConfig.api_key = "Quandl code"

In [3]:
# Test
quandl.get('ZILLOW/Z90210_PRRAH', start_date='2018-01-01', end_date='2018-02-28')

            Value
Date
2018-01-31  24.44
2018-02-28  24.46

In [112]:
url = 'http://www.credemographics.com/demographics/top-1000-u.s.-zip-codes'
req_headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
    'accept-encoding': 'gzip, deflate, br',
    'accept-language': 'en-US,en;q=0.8',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36'
}
with requests.Session() as s:
    r = s.get(url, headers=req_headers)
soup = BeautifulSoup(r.content, 'html.parser')

In [113]:
table_row = soup.table.tbody.tr
zip_code_list = []
for i in range(0,1000):
    
    zip_code = str(table_row.td.next_sibling.a.contents[0])
    city = str(table_row.td.next_sibling.next_sibling.contents[0])
    state = str(table_row.td.next_sibling.next_sibling.next_sibling.contents[0])
    population = str(table_row.td.next_sibling.next_sibling.next_sibling.next_sibling.contents[0])
    density = str(table_row.findChildren()[-1].contents[0])
    zip_code_list.append({'zipcode':zip_code, 'city': city, 'state': state, 'population': population,
                          'density': density})
    table_row = table_row.next_sibling

In [128]:
zip_df = pd.DataFrame(zip_code_list)

In [129]:
zip_df.sort_values('zipcode')

                  city density population state zipcode
877           LAWRENCE  15,434     47,676    MA   01841
876            METHUEN   2,146     47,690    MA   01844
667            PEABODY   3,208     51,319    MA   01960
664  DORCHESTER CENTER  17,110     51,382    MA   02124
328             MALDEN  11,859     59,819    MA   02148
611             REVERE   8,957     52,534    MA   02151
359            MEDFORD   7,177     58,832    MA   02155
487             QUINCY   6,138     55,064    MA   02169
355           BROCKTON   4,744     58,982    MA   02301
418           PLYMOUTH     595     56,816    MA   02360
789            TAUNTON   1,488     49,151    MA   02780
310            BRISTOL   2,292     60,525    CT   06010
887         MIDDLETOWN   1,159     47,539    CT   06457
584          NEW HAVEN   8,950     53,062    CT   06511
478         WEST HAVEN   5,150     55,349    CT   06516
858         BRIDGEPORT   9,056     47,916    CT   06606
750            DANBURY   2,406     49,777    CT   06810
191           STAMFORD   6,549     66,657    CT   06902
230            BAYONNE  10,935     63,819    NJ   07002
895         BLOOMFIELD   8,972     47,442    NJ   07003
692            HOBOKEN  40,292     50,929    NJ   07030
282       NORTH BERGEN  11,966     61,434    NJ   07047
970        WEST ORANGE   3,848     46,386    NJ   07052
149            PASSAIC  22,354     70,215    NJ   07055
563              UNION   6,186     53,503    NJ   07083
183         UNION CITY  52,458     67,566    NJ   07087
265      WEST NEW YORK  51,470     61,919    NJ   07093
696             NEWARK  20,052     50,813    NJ   07104
714             NEWARK  10,879     50,466    NJ   07105
534          IRVINGTON  18,492     54,144    NJ   07111
..                 ...     ...        ...   ...     ...
672           HONOLULU   5,175     51,209    HI   96816
453           HONOLULU   6,011     55,812    HI   96817
654           HONOLULU   4,475     51,522    HI   96818
617           HONOLULU   2,395     52,416    HI   96819
207          BEAVERTON   5,573     65,482    OR   97006
159          BEAVERTON   2,595     69,469    OR   97007
686        OREGON CITY     591     51,040    OR   97045
828          HILLSBORO   1,124     48,406    OR   97124
830           PORTLAND   7,412     48,384    OR   97206
949           PORTLAND   4,034     46,574    OR   97223
326           PORTLAND   2,917     59,983    OR   97229
477              SALEM   4,787     55,437    OR   97301
688             EUGENE     739     51,025    OR   97402
367               BEND      86     58,602    OR   97701
620            BOTHELL   3,417     52,351    WA   98012
796        FEDERAL WAY   4,745     48,964    WA   98023
327            REDMOND   2,977     59,822    WA   98052
920            SEATTLE  10,144     47,019    WA   98103
880            SEATTLE   7,231     47,611    WA   98115
966            SEATTLE   6,540     46,405    WA   98133
601            EVERETT   3,255     52,683    WA   98208
983         BELLINGHAM   3,684     46,251    WA   98225
995         MARYSVILLE   3,222     46,105    WA   98270
800           LONGVIEW     378     48,786    WA   98632
456          VANCOUVER   1,849     55,759    WA   98682
964             YAKIMA   5,143     46,412    WA   98902
719            SPOKANE   1,025     50,372    WA   99208
134              PASCO     154     71,473    WA   99301
805          KENNEWICK   3,652     48,749    WA   99336
566            WASILLA     107     53,456    AK   99654

[1000 rows x 5 columns]

In [130]:
# Convert strings to int
zip_df.population = zip_df.population.str.replace(',','')
zip_df.population = zip_df.population.astype(int)
zip_df.density = zip_df.density.str.replace(',','')
zip_df.density = zip_df.density.astype(int)

In [133]:
zip_df.to_csv('zipcodes.csv')

In [26]:
# be careful if you read it in from Excel zip may be converted to int
zip_df = pd.read_csv('zipcodes.csv')

In [27]:
zip_df.zipcode = zip_df.zipcode.astype('str').str.zfill(5)

In [85]:
zip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
Unnamed: 0    1000 non-null int64
city          1000 non-null object
density       1000 non-null int64
population    1000 non-null int64
state         1000 non-null object
zipcode       1000 non-null object
dtypes: int64(3), object(3)
memory usage: 47.0+ KB

In [10]:
zip_piece = zip_df.sort_values('zipcode').copy()

In [11]:
zip_piece = zip_piece[0:46]

In [29]:
# There were a bunch of zipcodes that were missed (<10000) due to dropping the 0
# Rather than run the API again, it was easier to prepend the correct query to the old results
# That is what the next several blocks of code are
sf_value_pre = []

In [30]:
# Having some difficulty running the API over all zipcodes at once, so broke it into a few pieces
for zipcode in zip_piece.zipcode:
    try:
        query_string = "ZILLOW/Z{}_ZHVISF".format(zipcode)
        z = quandl.get(query_string)
        sf_value_pre.append({'zipcode': zipcode, 'rent': z})
        time.sleep(.1)
    except: 
        continue

In [31]:
sf_value_pre

[{'rent':                Value
  Date
  1996-04-30   70800.0
  1996-05-31   70700.0
  1996-06-30   71000.0
  1996-07-31   71100.0
  1996-08-31   71200.0
  1996-09-30   71400.0
  1996-10-31   71100.0
  1996-11-30   70400.0
  1996-12-31   70000.0
  1997-01-31   69900.0
  1997-02-28   70100.0
  1997-03-31   70700.0
  1997-04-30   71200.0
  1997-05-31   71400.0
  1997-06-30   71400.0
  1997-07-31   72300.0
  1997-08-31   73700.0
  1997-09-30   75000.0
  1997-10-31   75500.0
  1997-11-30   76000.0
  1997-12-31   76900.0
  1998-01-31   78100.0
  1998-02-28   78900.0
  1998-03-31   79500.0
  1998-04-30   79900.0
  1998-05-31   80700.0
  1998-06-30   81400.0
  1998-07-31   81800.0
  1998-08-31   81900.0
  1998-09-30   82500.0
  ...              ...
  2015-09-30  192300.0
  2015-10-31  196100.0
  2015-11-30  200900.0
  2015-12-31  204600.0
  2016-01-31  206400.0
  2016-02-29  208100.0
  2016-03-31  210400.0
  2016-04-30  211700.0
  2016-05-31  212700.0
  2016-06-30  214700.0
  2016-07-31  217600.0
  2016-08-31  220000.0
  2016-09-30  221700.0
  2016-10-31  223100.0
  2016-11-30  224700.0
  2016-12-31  226300.0
  2017-01-31  228100.0
  2017-02-28  230700.0
  2017-03-31  233300.0
  2017-04-30  235300.0
  2017-05-31  237700.0
  2017-06-30  240700.0
  2017-07-31  243400.0
  2017-08-31  245900.0
  2017-09-30  248200.0
  2017-10-31  248700.0
  2017-11-30  249100.0
  2017-12-31  250900.0
  2018-01-31  254100.0
  2018-02-28  256600.0

  [263 rows x 1 columns], 'zipcode': '01841'}, {'rent':                Value
  Date
  1996-04-30  122000.0
  1996-05-31  122100.0
  1996-06-30  122000.0
  1996-07-31  122500.0
  1996-08-31  123300.0
  1996-09-30  124200.0
  1996-10-31  124900.0
  1996-11-30  125400.0
  1996-12-31  126000.0
  1997-01-31  127100.0
  1997-02-28  128300.0
  1997-03-31  129500.0
  1997-04-30  130500.0
  1997-05-31  131100.0
  1997-06-30  131700.0
  1997-07-31  132100.0
  1997-08-31  132300.0
  1997-09-30  132400.0
  1997-10-31  132700.0
  1997-11-30  133300.0
  1997-12-31  134200.0
  1998-01-31  135500.0
  1998-02-28  137300.0
  1998-03-31  138700.0
  1998-04-30  139300.0
  1998-05-31  139800.0
  1998-06-30  140400.0
  1998-07-31  141200.0
  1998-08-31  142500.0
  1998-09-30  143500.0
  ...              ...
  2015-09-30  291900.0
  2015-10-31  293700.0
  2015-11-30  296500.0
  2015-12-31  299200.0
  2016-01-31  301000.0
  2016-02-29  302300.0
  2016-03-31  304000.0
  2016-04-30  306600.0
  2016-05-31  309500.0
  2016-06-30  311900.0
  2016-07-31  314100.0
  2016-08-31  317100.0
  2016-09-30  320200.0
  2016-10-31  322900.0
  2016-11-30  325400.0
  2016-12-31  328000.0
  2017-01-31  330200.0
  2017-02-28  333500.0
  2017-03-31  337300.0
  2017-04-30  339800.0
  2017-05-31  340800.0
  2017-06-30  342100.0
  2017-07-31  343600.0
  2017-08-31  345500.0
  2017-09-30  347600.0
  2017-10-31  348400.0
  2017-11-30  348300.0
  2017-12-31  349100.0
  2018-01-31  351300.0
  2018-02-28  353000.0

  [263 rows x 1 columns], 'zipcode': '01844'}, {'rent':                Value
  Date
  1996-04-30  156600.0
  1996-05-31  160300.0
  1996-06-30  162300.0
  1996-07-31  163400.0
  1996-08-31  163800.0
  1996-09-30  164000.0
  1996-10-31  164600.0
  1996-11-30  166000.0
  1996-12-31  167200.0
  1997-01-31  168300.0
  1997-02-28  169500.0
  1997-03-31  169900.0
  1997-04-30  169400.0
  1997-05-31  169200.0
  1997-06-30  169700.0
  1997-07-31  170300.0
  1997-08-31  171200.0
  1997-09-30  172200.0
  1997-10-31  173100.0
  1997-11-30  174100.0
  1997-12-31  175600.0
  1998-01-31  177400.0
  1998-02-28  179500.0
  1998-03-31  181200.0
  1998-04-30  181900.0
  1998-05-31  182600.0
  1998-06-30  183700.0
  1998-07-31  184600.0
  1998-08-31  185400.0
  1998-09-30  186400.0
  ...              ...
  2015-09-30  368700.0
  2015-10-31  372700.0
  2015-11-30  376800.0
  2015-12-31  379800.0
  2016-01-31  381900.0
  2016-02-29  383500.0
  2016-03-31  384000.0
  2016-04-30  383900.0
  2016-05-31  384500.0
  2016-06-30  386300.0
  2016-07-31  388000.0
  2016-08-31  388900.0
  2016-09-30  390400.0
  2016-10-31  393900.0
  2016-11-30  398200.0
  2016-12-31  402100.0
  2017-01-31  405500.0
  2017-02-28  408300.0
  2017-03-31  411100.0
  2017-04-30  414600.0
  2017-05-31  418300.0
  2017-06-30  421800.0
  2017-07-31  424500.0
  2017-08-31  427100.0
  2017-09-30  429700.0
  2017-10-31  430500.0
  2017-11-30  431100.0
  2017-12-31  432700.0
  2018-01-31  435200.0
  2018-02-28  437300.0

  [263 rows x 1 columns], 'zipcode': '01960'}, {'rent':                Value
  Date
  1996-04-30  100800.0
  1996-05-31  100300.0
  1996-06-30   99700.0
  1996-07-31  100100.0
  1996-08-31  101000.0
  1996-09-30  102000.0
  1996-10-31  104300.0
  1996-11-30  106900.0
  1996-12-31  109800.0
  1997-01-31  112600.0
  1997-02-28  115500.0
  1997-03-31  117500.0
  1997-04-30  119000.0
  1997-05-31  120800.0
  1997-06-30  122800.0
  1997-07-31  124500.0
  1997-08-31  125800.0
  1997-09-30  126800.0
  1997-10-31  127100.0
  1997-11-30  127000.0
  1997-12-31  127400.0
  1998-01-31  128200.0
  1998-02-28  129200.0
  1998-03-31  129700.0
  1998-04-30  130100.0
  1998-05-31  130700.0
  1998-06-30  131300.0
  1998-07-31  131900.0
  1998-08-31  132700.0
  1998-09-30  133500.0
  ...              ...
  2015-09-30  404300.0
  2015-10-31  408200.0
  2015-11-30  411500.0
  2015-12-31  413900.0
  2016-01-31  416000.0
  2016-02-29  419700.0
  2016-03-31  423300.0
  2016-04-30  425300.0
  2016-05-31  427700.0
  2016-06-30  433500.0
  2016-07-31  439400.0
  2016-08-31  444100.0
  2016-09-30  447700.0
  2016-10-31  450300.0
  2016-11-30  453100.0
  2016-12-31  456800.0
  2017-01-31  460700.0
  2017-02-28  464900.0
  2017-03-31  471100.0
  2017-04-30  478700.0
  2017-05-31  485200.0
  2017-06-30  489900.0
  2017-07-31  494300.0
  2017-08-31  497500.0
  2017-09-30  499800.0
  2017-10-31  502700.0
  2017-11-30  507700.0
  2017-12-31  511000.0
  2018-01-31  513400.0
  2018-02-28  517200.0

  [263 rows x 1 columns], 'zipcode': '02124'}, {'rent':                Value
  Date
  1996-04-30  127800.0
  1996-05-31  128300.0
  1996-06-30  128700.0
  1996-07-31  129000.0
  1996-08-31  129300.0
  1996-09-30  129800.0
  1996-10-31  130300.0
  1996-11-30  130800.0
  1996-12-31  131300.0
  1997-01-31  132300.0
  1997-02-28  133700.0
  1997-03-31  134800.0
  1997-04-30  135200.0
  1997-05-31  135600.0
  1997-06-30  136300.0
  1997-07-31  136500.0
  1997-08-31  136600.0
  1997-09-30  137100.0
  1997-10-31  137900.0
  1997-11-30  139000.0
  1997-12-31  140400.0
  1998-01-31  142100.0
  1998-02-28  143800.0
  1998-03-31  144800.0
  1998-04-30  145600.0
  1998-05-31  146600.0
  1998-06-30  147800.0
  1998-07-31  148800.0
  1998-08-31  149700.0
  1998-09-30  150900.0
  ...              ...
  2015-09-30  363000.0
  2015-10-31  366100.0
  2015-11-30  369900.0
  2015-12-31  374100.0
  2016-01-31  378400.0
  2016-02-29  382200.0
  2016-03-31  385600.0
  2016-04-30  388500.0
  2016-05-31  390000.0
  2016-06-30  391300.0
  2016-07-31  392900.0
  2016-08-31  394100.0
  2016-09-30  395500.0
  2016-10-31  397800.0
  2016-11-30  400600.0
  2016-12-31  403500.0
  2017-01-31  406200.0
  2017-02-28  409400.0
  2017-03-31  413700.0
  2017-04-30  419500.0
  2017-05-31  425700.0
  2017-06-30  430700.0
  2017-07-31  434300.0
  2017-08-31  437600.0
  2017-09-30  441800.0
  2017-10-31  446000.0
  2017-11-30  448800.0
  2017-12-31  450400.0
  2018-01-31  452100.0
  2018-02-28  453900.0

  [263 rows x 1 columns], 'zipcode': '02148'}, {'rent':                Value
  Date
  1996-04-30  108000.0
  1996-05-31  110300.0
  1996-06-30  112000.0
  1996-07-31  113400.0
  1996-08-31  114500.0
  1996-09-30  115300.0
  1996-10-31  116100.0
  1996-11-30  117000.0
  1996-12-31  118000.0
  1997-01-31  118900.0
  1997-02-28  120400.0
  1997-03-31  121900.0
  1997-04-30  123300.0
  1997-05-31  123900.0
  1997-06-30  124100.0
  1997-07-31  123500.0
  1997-08-31  123700.0
  1997-09-30  125200.0
  1997-10-31  126900.0
  1997-11-30  127300.0
  1997-12-31  127000.0
  1998-01-31  127800.0
  1998-02-28  130100.0
  1998-03-31  132700.0
  1998-04-30  133900.0
  1998-05-31  134300.0
  1998-06-30  134600.0
  1998-07-31  135700.0
  1998-08-31  137100.0
  1998-09-30  138100.0
  ...              ...
  2015-09-30  327700.0
  2015-10-31  330100.0
  2015-11-30  332200.0
  2015-12-31  333500.0
  2016-01-31  334600.0
  2016-02-29  336900.0
  2016-03-31  340200.0
  2016-04-30  343100.0
  2016-05-31  345300.0
  2016-06-30  347600.0
  2016-07-31  350500.0
  2016-08-31  353900.0
  2016-09-30  357300.0
  2016-10-31  359600.0
  2016-11-30  363000.0
  2016-12-31  368100.0
  2017-01-31  371700.0
  2017-02-28  374200.0
  2017-03-31  377700.0
  2017-04-30  381800.0
  2017-05-31  384200.0
  2017-06-30  385900.0
  2017-07-31  387800.0
  2017-08-31  390600.0
  2017-09-30  393200.0
  2017-10-31  395800.0
  2017-11-30  399200.0
  2017-12-31  402600.0
  2018-01-31  406600.0
  2018-02-28  410600.0

  [263 rows x 1 columns], 'zipcode': '02151'}, {'rent':                Value
  Date
  1996-04-30  152900.0
  1996-05-31  153200.0
  1996-06-30  153800.0
  1996-07-31  154400.0
  1996-08-31  154700.0
  1996-09-30  154900.0
  1996-10-31  155000.0
  1996-11-30  154800.0
  1996-12-31  155300.0
  1997-01-31  156900.0
  1997-02-28  158500.0
  1997-03-31  159600.0
  1997-04-30  160500.0
  1997-05-31  161600.0
  1997-06-30  162900.0
  1997-07-31  164600.0
  1997-08-31  166100.0
  1997-09-30  167100.0
  1997-10-31  167800.0
  1997-11-30  168700.0
  1997-12-31  170800.0
  1998-01-31  173500.0
  1998-02-28  175900.0
  1998-03-31  177900.0
  1998-04-30  180200.0
  1998-05-31  182100.0
  1998-06-30  183100.0
  1998-07-31  184400.0
  1998-08-31  186400.0
  1998-09-30  187700.0
  ...              ...
  2015-09-30  476500.0
  2015-10-31  477700.0
  2015-11-30  479800.0
  2015-12-31  482400.0
  2016-01-31  484900.0
  2016-02-29  487300.0
  2016-03-31  491400.0
  2016-04-30  496700.0
  2016-05-31  501000.0
  2016-06-30  504800.0
  2016-07-31  509300.0
  2016-08-31  512600.0
  2016-09-30  515000.0
  2016-10-31  517600.0
  2016-11-30  520900.0
  2016-12-31  525300.0
  2017-01-31  530200.0
  2017-02-28  536100.0
  2017-03-31  542200.0
  2017-04-30  548400.0
  2017-05-31  555700.0
  2017-06-30  563400.0
  2017-07-31  569000.0
  2017-08-31  574100.0
  2017-09-30  580500.0
  2017-10-31  586700.0
  2017-11-30  591400.0
  2017-12-31  594800.0
  2018-01-31  597500.0
  2018-02-28  599600.0

  [263 rows x 1 columns], 'zipcode': '02155'}, {'rent':                Value
  Date
  1996-04-30  133600.0
  1996-05-31  134200.0
  1996-06-30  135300.0
  1996-07-31  136000.0
  1996-08-31  136100.0
  1996-09-30  136600.0
  1996-10-31  137200.0
  1996-11-30  137700.0
  1996-12-31  138600.0
  1997-01-31  139800.0
  1997-02-28  140900.0
  1997-03-31  142000.0
  1997-04-30  142900.0
  1997-05-31  143200.0
  1997-06-30  143500.0
  1997-07-31  143900.0
  1997-08-31  144300.0
  1997-09-30  144500.0
  1997-10-31  145000.0
  1997-11-30  146000.0
  1997-12-31  147100.0
  1998-01-31  148300.0
  1998-02-28  149800.0
  1998-03-31  151100.0
  1998-04-30  152600.0
  1998-05-31  154100.0
  1998-06-30  155200.0
  1998-07-31  156100.0
  1998-08-31  157200.0
  1998-09-30  157900.0
  ...              ...
  2015-09-30  377200.0
  2015-10-31  378900.0
  2015-11-30  378600.0
  2015-12-31  378700.0
  2016-01-31  379200.0
  2016-02-29  379500.0
  2016-03-31  379600.0
  2016-04-30  381300.0
  2016-05-31  383800.0
  2016-06-30  387600.0
  2016-07-31  391100.0
  2016-08-31  393900.0
  2016-09-30  397200.0
  2016-10-31  401800.0
  2016-11-30  406400.0
  2016-12-31  409700.0
  2017-01-31  410700.0
  2017-02-28  411100.0
  2017-03-31  412000.0
  2017-04-30  414000.0
  2017-05-31  416100.0
  2017-06-30  416400.0
  2017-07-31  415300.0
  2017-08-31  415700.0
  2017-09-30  418700.0
  2017-10-31  421900.0
  2017-11-30  424600.0
  2017-12-31  428200.0
  2018-01-31  432200.0
  2018-02-28  434900.0

  [263 rows x 1 columns], 'zipcode': '02169'}, {'rent':                Value
  Date
  1996-04-30   90600.0
  1996-05-31   91700.0
  1996-06-30   92800.0
  1996-07-31   93700.0
  1996-08-31   94600.0
  1996-09-30   95400.0
  1996-10-31   95900.0
  1996-11-30   96200.0
  1996-12-31   96800.0
  1997-01-31   97600.0
  1997-02-28   98100.0
  1997-03-31   98300.0
  1997-04-30   98300.0
  1997-05-31   98400.0
  1997-06-30   98400.0
  1997-07-31   98400.0
  1997-08-31   98300.0
  1997-09-30   98600.0
  1997-10-31   99000.0
  1997-11-30   99500.0
  1997-12-31  100400.0
  1998-01-31  101600.0
  1998-02-28  103000.0
  1998-03-31  104100.0
  1998-04-30  105200.0
  1998-05-31  106400.0
  1998-06-30  107900.0
  1998-07-31  109800.0
  1998-08-31  111600.0
  1998-09-30  113000.0
  ...              ...
  2015-09-30  236800.0
  2015-10-31  238200.0
  2015-11-30  238800.0
  2015-12-31  240000.0
  2016-01-31  242100.0
  2016-02-29  244700.0
  2016-03-31  246800.0
  2016-04-30  247600.0
  2016-05-31  249000.0
  2016-06-30  250500.0
  2016-07-31  250900.0
  2016-08-31  251400.0
  2016-09-30  253200.0
  2016-10-31  255100.0
  2016-11-30  257000.0
  2016-12-31  258600.0
  2017-01-31  261600.0
  2017-02-28  265500.0
  2017-03-31  268900.0
  2017-04-30  271300.0
  2017-05-31  273700.0
  2017-06-30  275500.0
  2017-07-31  276500.0
  2017-08-31  278400.0
  2017-09-30  281800.0
  2017-10-31  285400.0
  2017-11-30  287900.0
  2017-12-31  290300.0
  2018-01-31  293500.0
  2018-02-28  296300.0

  [263 rows x 1 columns], 'zipcode': '02301'}, {'rent':                Value
  Date
  1996-04-30  123100.0
  1996-05-31  123900.0
  1996-06-30  124300.0
  1996-07-31  124500.0
  1996-08-31  124900.0
  1996-09-30  125300.0
  1996-10-31  125800.0
  1996-11-30  126500.0
  1996-12-31  127300.0
  1997-01-31  128200.0
  1997-02-28  129200.0
  1997-03-31  129900.0
  1997-04-30  130000.0
  1997-05-31  130100.0
  1997-06-30  130300.0
  1997-07-31  130500.0
  1997-08-31  131000.0
  1997-09-30  131800.0
  1997-10-31  132700.0
  1997-11-30  133200.0
  1997-12-31  133500.0
  1998-01-31  134100.0
  1998-02-28  135000.0
  1998-03-31  135600.0
  1998-04-30  136500.0
  1998-05-31  137600.0
  1998-06-30  139100.0
  1998-07-31  140500.0
  1998-08-31  141800.0
  1998-09-30  142700.0
  ...              ...
  2015-09-30  311100.0
  2015-10-31  313000.0
  2015-11-30  314800.0
  2015-12-31  316100.0
  2016-01-31  317800.0
  2016-02-29  319900.0
  2016-03-31  321100.0
  2016-04-30  321900.0
  2016-05-31  323600.0
  2016-06-30  325000.0
  2016-07-31  325400.0
  2016-08-31  325500.0
  2016-09-30  326100.0
  2016-10-31  327300.0
  2016-11-30  329300.0
  2016-12-31  330500.0
  2017-01-31  332800.0
  2017-02-28  336000.0
  2017-03-31  338900.0
  2017-04-30  340300.0
  2017-05-31  341800.0
  2017-06-30  342700.0
  2017-07-31  343600.0
  2017-08-31  345900.0
  2017-09-30  349200.0
  2017-10-31  352300.0
  2017-11-30  353800.0
  2017-12-31  354200.0
  2018-01-31  356000.0
  2018-02-28  359400.0

  [263 rows x 1 columns], 'zipcode': '02360'}, {'rent':                Value
  Date
  1996-04-30  114100.0
  1996-05-31  114200.0
  1996-06-30  114700.0
  1996-07-31  115300.0
  1996-08-31  115700.0
  1996-09-30  116000.0
  1996-10-31  116200.0
  1996-11-30  116500.0
  1996-12-31  117000.0
  1997-01-31  117700.0
  1997-02-28  118400.0
  1997-03-31  118900.0
  1997-04-30  119200.0
  1997-05-31  119300.0
  1997-06-30  119400.0
  1997-07-31  119700.0
  1997-08-31  119800.0
  1997-09-30  119900.0
  1997-10-31  120100.0
  1997-11-30  120300.0
  1997-12-31  120800.0
  1998-01-31  121800.0
  1998-02-28  122700.0
  1998-03-31  123500.0
  1998-04-30  124300.0
  1998-05-31  125200.0
  1998-06-30  125900.0
  1998-07-31  126600.0
  1998-08-31  127300.0
  1998-09-30  128100.0
  ...              ...
  2015-09-30  251500.0
  2015-10-31  252300.0
  2015-11-30  252900.0
  2015-12-31  252700.0
  2016-01-31  252000.0
  2016-02-29  252700.0
  2016-03-31  255500.0
  2016-04-30  258700.0
  2016-05-31  260500.0
  2016-06-30  261200.0
  2016-07-31  262200.0
  2016-08-31  264100.0
  2016-09-30  266100.0
  2016-10-31  267800.0
  2016-11-30  269800.0
  2016-12-31  271700.0
  2017-01-31  272400.0
  2017-02-28  274000.0
  2017-03-31  277400.0
  2017-04-30  280800.0
  2017-05-31  282800.0
  2017-06-30  283900.0
  2017-07-31  284400.0
  2017-08-31  285600.0
  2017-09-30  287600.0
  2017-10-31  288200.0
  2017-11-30  287800.0
  2017-12-31  288200.0
  2018-01-31  288900.0
  2018-02-28  289600.0

  [263 rows x 1 columns], 'zipcode': '02780'}, {'rent':                Value
  Date
  1996-04-30  109500.0
  1996-05-31  109100.0
  1996-06-30  109300.0
  1996-07-31  109900.0
  1996-08-31  110700.0
  1996-09-30  111300.0
  1996-10-31  111600.0
  1996-11-30  111800.0
  1996-12-31  111700.0
  1997-01-31  111500.0
  1997-02-28  111400.0
  1997-03-31  111500.0
  1997-04-30  111700.0
  1997-05-31  112000.0
  1997-06-30  112200.0
  1997-07-31  112300.0
  1997-08-31  112300.0
  1997-09-30  112300.0
  1997-10-31  112800.0
  1997-11-30  113400.0
  1997-12-31  114300.0
  1998-01-31  115500.0
  1998-02-28  116500.0
  1998-03-31  116900.0
  1998-04-30  117300.0
  1998-05-31  117800.0
  1998-06-30  118200.0
  1998-07-31  118600.0
  1998-08-31  119100.0
  1998-09-30  119600.0
  ...              ...
  2015-09-30  180200.0
  2015-10-31  179500.0
  2015-11-30  179000.0
  2015-12-31  178700.0
  2016-01-31  178100.0
  2016-02-29  178300.0
  2016-03-31  179400.0
  2016-04-30  180200.0
  2016-05-31  180700.0
  2016-06-30  181700.0
  2016-07-31  182600.0
  2016-08-31  182900.0
  2016-09-30  183300.0
  2016-10-31  183800.0
  2016-11-30  183600.0
  2016-12-31  182800.0
  2017-01-31  182300.0
  2017-02-28  181900.0
  2017-03-31  181000.0
  2017-04-30  180400.0
  2017-05-31  180900.0
  2017-06-30  181200.0
  2017-07-31  180900.0
  2017-08-31  180900.0
  2017-09-30  181500.0
  2017-10-31  181800.0
  2017-11-30  181500.0
  2017-12-31  181000.0
  2018-01-31  180500.0
  2018-02-28  180000.0

  [263 rows x 1 columns], 'zipcode': '06010'}, {'rent':                Value
  Date
  1996-04-30  119500.0
  1996-05-31  121900.0
  1996-06-30  123600.0
  1996-07-31  124400.0
  1996-08-31  124800.0
  1996-09-30  125000.0
  1996-10-31  125200.0
  1996-11-30  125300.0
  1996-12-31  125500.0
  1997-01-31  125400.0
  1997-02-28  125700.0
  1997-03-31  126000.0
  1997-04-30  125800.0
  1997-05-31  125500.0
  1997-06-30  125500.0
  1997-07-31  125400.0
  1997-08-31  125200.0
  1997-09-30  125000.0
  1997-10-31  124800.0
  1997-11-30  125000.0
  1997-12-31  125500.0
  1998-01-31  126200.0
  1998-02-28  127200.0
  1998-03-31  128200.0
  1998-04-30  128700.0
  1998-05-31  129000.0
  1998-06-30  129200.0
  1998-07-31  129200.0
  1998-08-31  129100.0
  1998-09-30  129100.0
  ...              ...
  2015-09-30  223600.0
  2015-10-31  224700.0
  2015-11-30  224800.0
  2015-12-31  224900.0
  2016-01-31  225500.0
  2016-02-29  225600.0
  2016-03-31  225600.0
  2016-04-30  226300.0
  2016-05-31  227200.0
  2016-06-30  227700.0
  2016-07-31  227500.0
  2016-08-31  226500.0
  2016-09-30  225100.0
  2016-10-31  224100.0
  2016-11-30  223700.0
  2016-12-31  224300.0
  2017-01-31  224700.0
  2017-02-28  224100.0
  2017-03-31  224200.0
  2017-04-30  226100.0
  2017-05-31  227100.0
  2017-06-30  226000.0
  2017-07-31  224000.0
  2017-08-31  222500.0
  2017-09-30  222400.0
  2017-10-31  222900.0
  2017-11-30  223200.0
  2017-12-31  223200.0
  2018-01-31  223100.0
  2018-02-28  222700.0

  [263 rows x 1 columns], 'zipcode': '06457'}, {'rent':                Value
  Date
  1996-04-30   95200.0
  1996-05-31   95100.0
  1996-06-30   94500.0
  1996-07-31   94200.0
  1996-08-31   94000.0
  1996-09-30   93400.0
  1996-10-31   92300.0
  1996-11-30   91400.0
  1996-12-31   91000.0
  1997-01-31   90900.0
  1997-02-28   90700.0
  1997-03-31   90600.0
  1997-04-30   90500.0
  1997-05-31   90600.0
  1997-06-30   90700.0
  1997-07-31   90800.0
  1997-08-31   90400.0
  1997-09-30   90100.0
  1997-10-31   90300.0
  1997-11-30   90600.0
  1997-12-31   90300.0
  1998-01-31   90300.0
  1998-02-28   90900.0
  1998-03-31   91900.0
  1998-04-30   92700.0
  1998-05-31   92600.0

In [34]:
df_sf_value_pre = pd.DataFrame.from_dict(sf_value_pre)

In [36]:
df_value_pre = []
for i, row in df_sf_value_pre.iterrows():
    for j, rowb in row[0].iterrows():
        entry = [rowb.name,row[1],rowb.values[0]]
        df_value_pre.append(entry)

In [37]:
df_value_pre = pd.DataFrame(df_value_pre, columns=['date','zipcode','value'])

In [38]:
df_value_pre.head()

        date zipcode    value
0 1996-04-30   01841  70800.0
1 1996-05-31   01841  70700.0
2 1996-06-30   01841  71000.0
3 1996-07-31   01841  71100.0
4 1996-08-31   01841  71200.0

In [39]:
value_old = pd.read_csv('df_value.csv')

In [40]:
value_old.zipcode = value_old.zipcode.astype('str')

In [41]:
value_old.head()

        date zipcode  value
0  4/30/1996   79936  70900
1  5/31/1996   79936  71200
2  6/30/1996   79936  71100
3  7/31/1996   79936  71300
4  8/31/1996   79936  71400

In [42]:
df_value = df_value_pre.append(value_old)

In [43]:
df_value.head()

                  date zipcode    value
0  1996-04-30 00:00:00   01841  70800.0
1  1996-05-31 00:00:00   01841  70700.0
2  1996-06-30 00:00:00   01841  71000.0
3  1996-07-31 00:00:00   01841  71100.0
4  1996-08-31 00:00:00   01841  71200.0

In [44]:
df_value.to_csv('df_value.csv')

#### The above code was run with rents as well.

#### Below we get the income data from the IRS

In [2]:
income_raw = pd.read_csv('15zpallagi.csv')

In [3]:
len(income_raw)

166698

In [11]:
income_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166698 entries, 0 to 166697
Columns: 132 entries, STATEFIPS to total_agi
dtypes: float64(128), int64(3), object(1)
memory usage: 167.9+ MB

In [4]:
zip_income = []

In [5]:
income_raw['total_agi'] = income_raw['N1']*income_raw['A00100']

In [12]:
total_income_2015 = income_raw.groupby('zipcode')['total_agi'].sum()
count_2015 = income_raw.groupby('zipcode')['N1'].sum()
income_2015 = total_income_2015/count_2015

In [22]:
income_2015.index = income_2015.index.astype('str').str.zfill(5)

In [23]:
income = pd.DataFrame(income_2015, columns=['income'])

In [24]:
income.index.values

array(['00000', '01001', '01002', ..., '99835', '99901', '99999'], dtype=object)

In [29]:
zip_income = income.loc[income.index.isin(zip_df.zipcode)]

In [34]:
zip_income = zip_income.round(2)

In [58]:
total_income_2015.loc[10023]

111888417670.0

In [36]:
zip_income.to_csv('income_2015.csv')

#### Inspection of this data reveals it to be quite inaccurate compared to generally published data. 

#### We'll switch to Census data

In [127]:
med_income = pd.read_csv('household_income.csv')

In [128]:
med_income.head()

       zipcode median_income
0  ZCTA5 00601         11507
1  ZCTA5 00602         15511
2  ZCTA5 00603         16681
3  ZCTA5 00606         11648
4  ZCTA5 00610         17751

In [129]:
med_income.zipcode = med_income.zipcode.str.replace("ZCTA5 ","")
med_income.median_income = med_income.median_income.str.replace(',','')
med_income.median_income = med_income.median_income.astype('int')

In [131]:
med_income = med_income.loc[med_income.zipcode.isin(zip_df.zipcode)]

In [132]:
med_income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 386 to 32981
Data columns (total 2 columns):
zipcode          1000 non-null object
median_income    1000 non-null int32
dtypes: int32(1), object(1)
memory usage: 19.5+ KB

In [133]:
med_income.to_csv('med_income.csv')